{% extends 'base.html' %}

{% block content %}
    <div class="container--90">
<h1> Witaj {{ user.first_name }} !</h1>
    <h1> Oto Twoje dane:</h1>
    <h1> Numer użytkownika: {{ user.pk }}</h1>
    <h1> Imię: {{ user.first_name }}</h1>
    <h1> Nazwisko: {{ user.surname }}</h1>
    <h1> Email: {{ user.email }} </h1>
    <h1> Data utworzenia konta: {{ user.date_joined }} </h1>
    <h1> Wsparte organizacje: </h1>
    <ol>
        {% for donation in user.donation_set.all %}
            <h1><li> {{ donation.institution.get_type_display }} {{ donation.institution.name }}. <br>
                Ilość przekazanych worków: {{ donation.quantity }}. <br>
                Data odbioru: {{ donation.pick_up_date }}<br>
                Dary z kategorii: {{ donation.categories_set.all }}
{#                {% for category in donation.categories_set.all %}#}
{#                    {{ category }}#}
{#                {% endfor %}#}
            </li></h1>
        {% empty %}
       <h1> Jeszcze nie wsparłeś żadnej organizacji.</h1>
        {% endfor %}
    </ol>
</div>
{% endblock %}
